*
{
    color: #424242;
    margin: 0;
    padding: 0;
}

/*-------------------------------------------------------------------------*/

body
{
    background-color: #FAFAFA;
    width: 100%;
}

@media screen and (min-width: 901px)
{
  .hidden-menu, .exit-btn
  {
    display: none;
  }
  .logo
  {
    display: inline-block;
    height: auto;
    margin-left: 14%;
    margin-right: 60px;
    vertical-align: middle;
  }
  nav
  {
    font-family: 'Open sans';
    width: 100%;
  }
  nav ul
  {
    list-style: none;
    background-color: white;
    box-shadow: 2px 0px 4px lightgray;
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 12pt;
  }
  nav ul li
  {
    display: inline-block;
    position: relative;
    padding-right: 20px;
  }
  nav ul li a
  {
    text-decoration: none;
    display: inline-block;
    padding: 27px 0;
    font-size: 10pt;
  }
  nav ul li a:hover
  {
    color: #EE6E73;
    -o-transition: .1s;
    -ms-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .current
  {
    border-bottom: 2px solid #EE6E73;
  }
  .toggle-nav-btn
  {
    display: none;
  }
}

@media screen and (max-width: 900px)
{
  .hidden
  {
    display: none;
  }
  .hidden-menu
  {
    background-color: white;
    box-shadow: 2px 0px 4px lightgray;
    position: relative;
    display: block;
    width: 100%;
  }
  #hidden-menu-border
  {
    border-top: 1px solid lightgray;
  }
  .logo2
  {
    display: inline-block;
    margin-left: 5%;
    vertical-align: middle;
    height: auto;
  }
  .exit-btn
  {
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin-top: 17px;
    margin-bottom: 12px;
    margin-right: 20px;
  }
  .toggle-nav-btn
  {
    display: inline-block;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-left: 17px;
    vertical-align: middle;
  }
  .show
  {
    margin: 0;
    font-family: 'Open sans';
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    width: 75%;
    background-color: white;
  }
  .show .logo
  {
    display: inline-block;
    vertical-align: middle;
    margin-top: 17px;
    margin-bottom: 12px;
    margin-left: 19px;
  }
  .show ul
  {
    list-style: none;
  }
  .show ul li a
  {
    text-decoration: none;
    display: block;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10pt;
  }
  .show ul li .current
  {
    background-color: #F5F5F5;
  }
  .show ul li a:hover
  {
    background-color: #F5F5F5;
  }
}


/*--------------------------------------------------------------------------*/

.banner
{
  max-width: 100%;
  height: auto;
  width: auto;
}
.content
{
  margin: auto;
  width: 75%;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}
.top
{
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.title
{
  font-size: 45pt;
  padding-bottom: 30px;
}
.text
{
  text-align: center;
}
.card
{
  display: inline-block;
  border-radius: 3px;
  box-shadow: 1px 0px 5px lightgray;
  text-decoration: none;
  margin-left: 75px;
  margin-right: 75px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 100px;
}
.card:hover
{
  box-shadow: 1px 0px 7px gray;
  opacity: .5;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
}
.card .watch
{
  width: 250px;
  height: 375px;
  padding-bottom: 10px;
}
.card p
{
  text-align: center;
  font-weight: bold;
}

/*--------------------------------------------------------------------------*/

table
{
  border-collapse: collapse;
  width: 100%;
}
td, th
{
  border: 1px solid lightgray;
  text-align: left;
  padding: 20px;
}
tr:hover
{
  background-color: #F5F5F5;
}

/*--------------------------------------------------------------------------*/

footer
{
  width: 100%;
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}
footer p
{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
